@page "/"

<PageTitle>Home</PageTitle>
@* <BlazorInheritance.Client.Components.RazorComponent></BlazorInheritance.Client.Components.RazorComponent> *@
@* <BlazorInheritance.Client.Components.MyBaseRazorComponent></BlazorInheritance.Client.Components.MyBaseRazorComponent> *@

@* <h1>Hello, world!</h1> *@

Welcome to your new app.
