@inherits AgrisBasePage
@((RenderFragment)base.BuildRenderTree)

<SectionContent SectionId="this.Content">
    <h3>Hello World</h3>
</SectionContent>

@code {
    protected override void OnInitialized()
    {
        base.OnInitialized();
        this.Name = "Produktionslinie";
        // this.FutureSteps.Add("Abschluss");
    }
}
