@inherits AgrisWizardStep
@((RenderFragment)base.BuildRenderTree)

<SectionContent SectionId="Content">
	<h3>Hello World</h3>
</SectionContent>

@code {
	public override async Task OnBeforeStepChanged()
	{
		await base.OnBeforeStepChanged();
		await saveSomething();
	}

	private async Task saveSomething()
	{
		await Task.Delay(2000);
	}
}
